<%- include('./mainContent/header'); %>

<%- include('./mainContent/newsOn'); %>

<h1 class="titleSeries">TV Shows</h1>

<div class="carrousel-filmes">
  <div class="owl-carousel owl-theme">
    <% posts.forEach(function(post){ %>
      
      <a href="/postcontent/<%= post._id%>">
      <div class="item">
        <img class="box-filme" src="<%= post.coverBox %>" alt="">

      </div>
    </a>
    <% }) %>

  </div>

</div>





<%- include('./mainContent/footer'); %>