<%- include('./mainContent/header'); %>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="coverBoxShowContent" src="<%= coverBox %>" alt="<%= title %>" srcset="">
      </div>
      <div class="col">
        <h1><%= title %> (<%= launchYear %>)</h1>
        <% if(watch == 'HBO'){ %>
          <p> Watch on: <span class="hboClass">HBO</span></p>
        <% } else if(watch == 'Netflix') {%>
          <p> Watch on: <span class="netflixClass">NETFLIX</span></p>
        <% } else if(watch == 'Amazon Prime') { %>
          <p> Watch on: <span class="amazonClass">AMAZON PRIME</span></p>
        <%} else {%>
          <p></p>
        <%}%>
        <div class="row ratingContentBox">
          <div class="col">
            <h1>Users rating:</h1>
          </div>
          <div class="col">
            <h1 class="ratingBox"><%= rating %></h1>
          </div>
        </div>
        <div>
          <p>
            <h2>Sinopse:</h2>
            <%= sinopse %>
          </p>

          <hr class="hr-line">
          <div class="row">
            <div class="col">
              <img class="profileActorPhoto" src="<%= actorPhoto %>" alt="" srcset="">
              
            </div>
            <div class="col">
              <h2 class="actorNameDisplay"><%= mainActor %> </h2>

            </div>
        </div>

        </div>
        </div>
      </div>
      

    </div>
</div>

<%- include("./mainContent/footer"); -%>